<main>
  <div class="card flex justify-content-center">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="headerContainer">
          <h1>Portfolio</h1>
          <div class="tags">
            <div class="tagRow">
              <p-tag value="TypeScript" />
              <p-tag value="HTML/CSS" />
            </div>
            <div class="tagRow">
              <p-tag value="Angular" severity="info" />
              <p-tag value="PrimeNG" severity="info" />
            </div>
            <div class="tagRow"></div>
          </div>
        </div>
      </ng-template>
      <p>Lorem ipsum dolor sit amet...</p>
    </p-panel>
  </div>
</main>
