<main>
  @for (project of projects; track $index) {
  <p-card header="{{ project.title }}" [style]="{ width: '25vw' }">
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="../assets/project-images/{{ project.image }}"
        style="background-color: #71717a; border-radius: 10px; padding: 8px"
      />
    </ng-template>
    <ng-template pTemplate="subHeader">
      <div class="tags">
        <div class="tagRow">
          @for (tech of project.languages; track $index) {
          <p-tag value="{{ tech }}" />

          }
        </div>
        <div class="tagRow">
          @for (tech of project.technologies; track $index) {
          <p-tag value="{{ tech }}" severity="info" />

          }
        </div>
        <div class="tagRow">
          @for (tech of project.other; track $index) {
          <p-tag value="{{ tech }}" severity="secondary" />

          }
        </div>
      </div>
    </ng-template>
    <p>{{ project.description }}</p>
    <ng-template pTemplate="footer">
      <div class="card-footer">
        <p-button
          label="show full blog post"
          class="w-full"
          styleClass="w-full"
          (onClick)="showBlogPost(project)"
        />
        <a
          class="pi pi-github"
          style="font-size: 2rem"
          href="{{ project.githubLink }}"
        >
        </a>
      </div>
    </ng-template>
  </p-card>
  }
</main>
