:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 15% auto auto auto;}

main{
    width:fit-content;
}
a {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}