<main>
  <div class="card flex justify-content-center">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="headerContainer">
          <h1>Wilduhr</h1>
          <div class="tags">
            <div class="tagRow">
              <p-tag value="C++" />
            </div>
            <div class="tagRow">
              <p-tag value="esp-idf" severity="info" />
            </div>
            <div class="tagRow">
              <p-tag value="PCB design(KiCad)" severity="secondary" />
              <p-tag value="ESP-32" severity="secondary" />
              <p-tag value="CMake" severity="secondary" />
              <p-tag value="embedded" severity="secondary" />
            </div>
          </div>
        </div>
      </ng-template>
      <h3>Overview</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae
        aperiam, blanditiis sed eveniet ex rerum sequi sit repellendus ea
        accusantium et deserunt facere architecto enim alias. Explicabo, ratione
        necessitatibus.
      </p>
      <p-divider />

      <h3>PCB-Design</h3>
      <img
        src="assets/project-images/Wilduhr_plan.jpg"
        alt="Wilduhr kernel machine"
        style="background-color: #71717a; border-radius: 10px; padding: 8px"
      />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae
        aperiam, blanditiis sed eveniet ex rerum sequi sit repellendus ea
        accusantium et deserunt facere architecto enim alias. Explicabo, ratione
        necessitatibus.
      </p>
      <img
        src="assets/project-images/Wilduhr_pcb_layout.jpg"
        alt="Wilduhr kernel machine"
        style="background-color: #71717a; border-radius: 10px; padding: 8px"
      />
      <p-divider />

      <h3>Software</h3>
      <img
        src="assets/project-images/kernel-machine.drawio.svg"
        alt="Wilduhr kernel machine"
        style="background-color: #71717a; border-radius: 10px; padding: 8px"
      />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae
        aperiam, blanditiis sed eveniet ex rerum sequi sit repellendus ea
        accusantium et deserunt facere architecto enim alias. Explicabo, ratione
        necessitatibus.
      </p>
      <p-divider />

      <h3>Debug Server</h3>
      <img
        src="assets/project-images/DebugServerWildUhr.jpg"
        style="background-color: #71717a; border-radius: 10px; padding: 8px"
        alt="Debug Server"
      />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae
        aperiam, blanditiis sed eveniet ex rerum sequi sit repellendus ea
        accusantium et deserunt facere architecto enim alias. Explicabo, ratione
        necessitatibus.
      </p>
    </p-panel>
  </div>
</main>
