<main>
  <div class="card flex justify-content-center">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="headerContainer">
          <h1>Wilduhr</h1>
          <div class="tags">
            <div class="tagRow">
              <p-tag value="C++" />
            </div>
            <div class="tagRow">
              <p-tag value="esp-idf" severity="info" />
            </div>
            <div class="tagRow">
              <p-tag value="PCB design(KiCad)" severity="secondary" />
              <p-tag value="ESP-32" severity="secondary" />
              <p-tag value="CMake" severity="secondary" />
              <p-tag value="embedded" severity="secondary" />
            </div>
          </div>
        </div>
      </ng-template>
      <p>Lorem ipsum dolor sit amet...</p>
    </p-panel>
  </div>
</main>
