<nav>
  <div class="left">
    <a routerLink="">HOME</a>
    <a routerLink="work">WORK</a>
    <a routerLink="projects">PROJECTS</a>
    <a routerLink="contact">CONTACT</a>
  </div>
  <div class="right">
    <a
      class="pi pi-github"
      style="font-size: 2rem"
      href="https://github.com/DanielMauderer"
    ></a>
    <a
      class="pi pi-linkedin"
      style="font-size: 2rem"
      href="https://www.linkedin.com/in/daniel-mauderer-551557242/"
    ></a>
  </div>
</nav>
<router-outlet />
