<main>
  <div class="card flex justify-content-center">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="headerContainer">
          <h1>Greenhouse Manager</h1>
          <div class="tags">
            <div class="tagRow">
              <p-tag value="rust" />
              <p-tag value="TypeScript" />
              <p-tag value="HTML/CSS" />
            </div>
            <div class="tagRow">
              <p-tag value="Angular" severity="info" />
              <p-tag value="PrimeNG" severity="info" />
              <p-tag value="axum" severity="info" />
              <p-tag value="diesel" severity="info" />
            </div>
            <div class="tagRow">
              <p-tag value="Docker" severity="secondary" />
              <p-tag value="PostgreSQL" severity="secondary" />
              <p-tag value="GitHub Pipelines" severity="secondary" />
              <p-tag value="ESP-32" severity="secondary" />
              <p-tag value="raspberryPi" severity="secondary" />
              <p-tag value="embedded" severity="secondary" />
            </div>
          </div>
        </div>
      </ng-template>
      <p>Lorem ipsum dolor sit amet...</p>
    </p-panel>
  </div>
</main>
